/*================================ 
    #RESPONSIVE CSS 
====================================*/

/* Extra large: large desktops, 1200px and up*/
@media (min-width: 1200px) {  }

/* large device: desktops, 992px and up*/

@media (min-width: 992px) and (max-width: 1199.98px) { 

    /* Banner Responsive*/
    
 }

/* Tablet Layout: 768px.*/
@media only screen and (min-width: 768px) and (max-width: 991px) {

/* Banner Responsive */

.banner-style-one-item h2 {
    font-size: 60px;
    padding-left: 0;
}

.banner-style-one-item .content {
    padding-left: 0 !important;
}

.chooseus-style-one-thumb {
    bottom: 0;
    margin-bottom: 0;
}

}

/* MObile Layout: 576px.*/

@media (min-width: 576px) and (max-width: 767.98px) { 
    /* Service Responsive */
    .service-style-one-heading h3 {
    font-size: 42px;
}

/* Banner Responsive */

.service-style-one-item {
    text-align: center;
}

.banner-style-one-item h2 {
    font-size: 52px;
}

.banner-style-one-item .content {
    padding: 0;
}

.banner-style-one-item .first-child {
    padding: 0;
}

.banner-style-one-item {
    text-align: center;
}

/* Skill Responsive */

.skill-style-one-content h3 {
    font-size: 40px;
}

.progressbar strong {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    margin-top: -27px;
    font-size: 24px;
}

.chooseus-style-one-thumb {
    bottom: 0;
    margin-bottom: 0;
}

}

/* Mobile Layout: 576px.*/
@media (max-width: 575.98px) { 

    /* Service Responsive */
    .service-style-one-heading h3 {
    font-size: 35px;
}

.service-style-one-item {
    text-align: center;
}

/* Banner Responsive */

.service-style-one-item {
    text-align: center;
}

.banner-style-one-item h2 {
    font-size: 42px;
}

.banner-style-one-item .content {
    padding: 0;
}

.banner-style-one-item .first-child {
    padding: 0;
}

.banner-style-one-item {
    text-align: center;
}

.banner-style-one-item .btn-theme {
    margin-right: 0;
    margin-bottom: 10px;
}

/* Skill Responsive */

.skill-style-one-content h3 {
    font-size: 35px;
}

.skill-style-one-content {
    text-align: center;
}

.progressbar strong {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    margin-top: -27px;
    font-size: 24px;
}

.progressbar h4 {
    font-size: 16px;
}

.chooseus-style-one-thumb {
    bottom: 0;
    margin-bottom: 0;
}

}